{% extends 'blog/base.html' %}
{% load widget_tweaks %}

{% block content %}
{% if form.errors %}
<p>Не удалось войти. Проверьте правильность ввода логина и пароля.</p>
{% endif %}

<form method="post" action="{% url 'login' %}" autocomplete="off">
    {% csrf_token %}
    <div class="form-group">
        {{ form.username.label_tag }}
        {{ form.username|add_class:"form-control" }}
    </div>
    <div class="form-group">
        {{ form.password.label_tag }}
        {{ form.password|add_class:"form-control" }}
    </div>
    <input type="submit" class="btn btn-primary" value="Войти"/>
    <input type="hidden" name="next" value="{{ next }}"/>
</form>
{% endblock %}