{% extends 'blog/base.html' %}
{% load widget_tweaks %}
{% block content %}
<h1>
    {% if form.instance.id %}
    Редактировать: {{ form.instance.title }}
    {% else %}
    Новая запись
    {% endif %}
</h1>

<form method="POST" class="post-form">
    {% csrf_token %}
    <div class="form-group">
        {{ form.title.label_tag }}
        {{ form.title|add_class:"form-control" }}
    </div>
    <div class="form-group">
        {{ form.text.label_tag }}
        {{ form.text|add_class:"form-control" }}
    </div>
    <div class="checkbox">
        <label>{{ form.is_published }}Запись опубликована?</label>
    </div>
    <button type="submit" class="save btn btn-default">Сохранить</button>
</form>
{% endblock %}